<div class="profile-picture">
	<img class="thumb" src="<%= snippet.authorProfileImageUrl %>" alt="<%= snippet.authorDisplayName %>">
</div>
<div class="content-container">
	<div class="head">
		<div class="name">
			<a class="link" href="<%= snippet.authorChannelUrl %>" target="_blank">
				<%= snippet.authorDisplayName %>
			</a>
		</div>
		<div class="date"><%= snippet.publishedAt.fromNow() %></div>
	</div>

	<div class="body"><%= snippet.textDisplay || snippet.textOriginal %></div>

	<div class="foot">
		<button class="btn-reply js-reply">Antworten</button>
		<div class="region-thumbs"></div>
	</div>

	<div class="region-form"></div>

	<div class="replies <% if(!snippet.totalReplyCount) { %>hide<% } %>">
		<a href="#" class="show-replies js-show-replies">Zeige <%- snippet.totalReplyCount %> Antworten</a>
	</div>
	<div class="region-replies"></div>
	<div class="loader-container"></div>
</div>