<div class="thumbnail">
	<a class="link js-link" target="_blank" href="https://www.youtube.com/watch?v=<%- videoId %>">
		<img class="thumb" src="<%- thumbnails.high.url %>">
		<span class="publishedAt label label-default"><%- publishedAt.fromNow() %></span>
	</a>
	<div class="caption">
		<h3 class="title" title="<%- title %>">
			<a class="js-link" target="_blank" href="https://www.youtube.com/watch?v=<%- videoId %>"><%- title %></a>
		</h3>
		<p class="description"><%- description %></p>
	</div>
</div>