<div class="thumbnail">
	<a class="link js-link" data-title="<%- title %>" href="#video/<%- videoId %>">
		<img class="thumb" src="<%- thumbnails.high.url %>">
		<span class="publishedAt label label-default"><%- publishedAt.fromNow() %></span>
		<span class="duration js-duration label label-default"></span>
	</a>
	<div class="caption">
		<h3 class="title" title="<%- title %>">
			<a class="js-link" data-title="<%- title %>" href="#video/<%- videoId %>">
				<%- title %>
			</a>
		</h3>
		<p class="description"><%- description %></p>
		<p class="team js-team"></p>
	</div>
</div>