<div class="thumbnail">
	<a class="js-link" href="playlists/playlist/<%- id %>"><img src="<%- thumbnails.high.url %>"></a>
	<div class="caption">
		<h3 class="title" title="<%- title %>">
			<a class="js-link" href="playlists/playlist/<%- id %>"><%- title %></a>
			<span class="badge"><%- itemCount %></span>
		</h3>
		<p class="description"><%- description %></p>
	</div>
</div>