<div class="thumbnail">
	<a class="link js-link" href="#playlists/playlist/<%- id %>">
		<img class="thumb" src="<%- thumbnails.medium.url %>">
	</a>
	<div class="caption">
		<h3 class="title" title="<%- title %>">
			<a class="link js-link" href="#playlists/playlist/<%- id %>"><%- title %></a>
			<span class="badge"><%- itemCount %></span>
		</h3>
		<% if(description) { %>
		<p class="description"><%- description %></p>
		<% } %>
	</div>
</div>